.section-title{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
}

.post{
    display: flex;
    width: 500px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 4px;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.img-thumb{
    width: 200px;
    height: 150px;
    margin-right: 20px;
}

.img-thumb img{
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.content{
    flex: 1
}

.content p.title{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #f3d4a6;
    margin-bottom: 16px;
}

.content p.desc{
    margin: 0;
    font-size: 16px;
    color: #4a4a4a;
}